  
  /* 제목 스타일링 */
  h2 {
    color: #333;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  /* 입력 폼 스타일링 */
  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    font-family: "NanumGothicLight";
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  textarea { 
    font-family: "NanumGothicLight";
    resize: none; 
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 80px;
  }
  
  select {
    font-family: "NanumGothicLight";
    width: 103%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* 버튼 스타일링 */
  .popupButton {
    font-family: "NanumGothicLight";
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5F9EA0;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .popupButton:last-child {
    background-color: #F08080;
  }
  
  .popupButton:hover {
    opacity: 0.9;
  }
  
  /* 추가된 디자인 요소 */
  /* 매물 종류, 이름 등의 입력 필드에 포커스 될 때의 스타일 */
  input[type="text"]:focus {
    border-color: #5F9EA0;
    outline: none;
  }
  
  /* 팝업 및 버튼 등에 약간의 그림자 추가 */
  .popup, .popupButton {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }