.officePost {
  font-size: 23px;
  position: sticky;
  height: 100%;
  width: 40%;
  top: 0;
  bottom: 70px;
  margin-top: 7%;
  margin-left: 25px;
  border-spacing: 0;
}

.officeTitle {
  font-size: 23px;
  text-align: center;
}

.officeName,
.officeAddress,
.officeWriter,
.officeType,
.officeImg,
.officeDesc,
.officeComments {
  border: 2px solid #e8e8e8;
  display: flex;
  padding: 0px 10px;
  flex-direction: row;
  margin-top: -0.2%;
  align-items: center;
  background-color: #f8f9fa;
}

.officeCommentTitle {
  border: 2px solid #e8e8e8;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  flex-direction: row;
  margin-top: -0.2%;
  align-items: center;
  background-color: #f8f9fa;
}

.officeName > div,
.officeAddress > div,
.officeWriter > div,
.officeType > div,
.officeComments > div {
  padding: 10px 30px;
  white-space: nowrap;
  padding-right: 50px;
  align-items: right;
}

.officeDesc > div {
  padding: 100px 30px;
  padding-right: 80px;
  align-items: right;
}

.officeTypeButton {
  font-family: "NanumGothic";
  padding: 5px 20px;
  background-color: #BFDEE0;
  color: #000000;
  border: none;
  height: 40px;
  white-space: nowrap;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 25px;
}

.commentInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
}

.commentSubmitBtn {
  padding: 8px 20px;
  background-color: #5F9EA0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid BFDEE0;
  border-radius: 16px;
}

.contentContainer {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.nameText {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.commentText {
  color: black;
  font-size: 16px;
}

.commentContainer {
  margin: 8px;
  padding: 8px;
  display: flex;
  margin-top: 10px;
  width: 100%; /* 컨테이너가 부모 요소의 전체 너비를 차지하도록 설정합니다. */
  flex-direction: column;
  border: 1px solid BFDEE0;
  border-radius: 16px;
}