.officePost {
  font-size: 23px;
  position: sticky;
  height: 100%;
  width: 40%;
  top: 0;
  bottom: 70px;
  margin-top : 7%;
  margin-left: 25px;
  border-spacing: 0;
}
.officeTitle {
  font-size: 23px;
  text-align: center;
}
.officeName,
.officeAddress,
.officeType,
.officeImg,
.officeDesc {
  border: 2px solid #e8e8e8;
  display: flex;
  padding: 0px 10px;
  flex-direction: row;
  margin-top: -0.2%;
  align-items: center;
  background-color: #f8f9fa;
}


.officeName > div,
.officeAddress > div,
.officeType > div {
  padding: 10px 30px;
  white-space: nowrap; /* 줄넘김 없이 표시 */
  padding-right : 50px;
  align-items: right;
}

.officeDesc > div {
  padding: 100px 30px;
  padding-right : 80px;
  align-items: right;
}

.officeTypeButton {
  font-family: "NanumGothic";
  padding: 5px 20px;
  background-color: #BFDEE0;
  color: #000000;
  border: none;
  height: 40px;
  white-space: nowrap;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;

  margin-left: 25px;
}
