.map-icon,
.wrapper-map {
  height: 100%;
  width: 100%;
  position: absolute;
}
.map-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  left: 14px;
  top: 17px;
  transform: scale(1.032);
}
.wrapper-map {
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.logo-icon {
  height: 45px;
  width: 74px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.left {
  width: 480px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 2px;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 14px;
  color: #656f77;
  min-width: 250px;
  max-width: 100%;
}
.value {
  width: 40px;
  position: relative;
  letter-spacing: 0.13px;
  line-height: 20px;
  display: none;
}
.right-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.input,
.right {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.right {
  display: none;
  justify-content: flex-start;
}
.input {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 5px solid #92baff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1px 1px 2px;
  min-width: 320px;
  max-width: 102%;
  flex-shrink: 0;
  z-index: 1;
}
.search-icon {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -37px;
}
.frame-container,
.search {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.search {
  width: 504px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px 0 0;
  row-gap: 20px;
  max-width: 100%;
}
.frame-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  padding: 77px 20px 894px;
  gap: 7px;
  letter-spacing: normal;
  text-align: right;
  font-size: 14px;
  color: #9f9f9f;
  font-family: Gordita;
}
@media screen and (max-width: 600px) {
  .frame-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .search-icon {
    margin-left: 0;
  }
  .search {
    flex-wrap: wrap;
  }
}