@font-face {
  font-family: 'NanumGothic';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: rgb(229, 240, 246);
  font-family: "NanumGothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

