@font-face {
  font-family: 'NanumGothicLight';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NanumGothicLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

